<a href="https://colab.research.google.com/github/deltania/Orbit_Academy/blob/main/Introduction_Fundamental_Python_Lat_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Belajar Python

Intro Python

List Pembahasan Python Basic


1. Basic Type Object

        Numbers

        Strings

        Boolean

        List

2.  Structure Data

2.  Basic Python - Aturan Penulisan Statement pada Python

In [1]:
# 1. Penulisan satu statement di dalam Python tidak diakhiri dengan tanda titik-koma

print("Halo Dunia!")

print("panjang = 100")

print("lebar = 23")

Halo Dunia!
panjang = 100
lebar = 23

In [2]:
# 2. Statement pada Pyhton dinyatakan dalam satu baris. Jadi akhir dari sebuah pernyataan adalah baris baru (new line).
print("luas = panjang * lebar")

luas = panjang * lebar

In [3]:
# 3. Jika ada pernyataan yang panjangnya terdiri lebih dari 1 baris, maka dapat dilakukan dengan menggunakan tanda backslash (\).
print("volume = panjang * lebar *\
 tinggi")

volume = panjang * lebar * tinggi

In [4]:
# 4. Statement yang ada di dalam atau diapit oleh tanda kurung seperti "[],{},()" tidak memerlukan tanda "".
nama_hari = ['Senin','Selasa','Rabu','Kamis','Jumat','Sabtu']
print(nama_hari)

['Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu']

In [5]:
# 5. Python menggunakan tanda indentasi (spasi) sebagai penanda blok. Panjang spasi atau indentasi untuk setiap baris yang ada dalam satu blok kode harus sama. Bila spasi atau indentasi dalam satu grup kode tersebut tidak sama, python akan menamplikan sintaks error.
usia = 7
if usia >= 7:
    print("diterima masuk SD")
    print("dinyatakan lulus")
else:
    print("tidak diterima masuk SD")
    print("dinyatakan gagal")

diterima masuk SD
dinyatakan lulus

In [6]:
# 6. Sebaga penanda string, Python menggunakan tanda kutip, baik tunggal ('), maupun ganda("). Tanda kutip tiga(""") digunakan untuk string multibaris.
namadepan = 'Alvin'
namalengkap = "Alvin Agusta Wahyono"
alinea = """Berikut ini adalah alinea
yang terdiri dari beberapa baris."""
print(namadepan)
print(namalengkap)
print(alinea)

Alvin
Alvin Agusta Wahyono
Berikut ini adalah alinea
yang terdiri dari beberapa baris.

In [7]:
# 7. Bahasa Python bersifat case sensitif, yang berarti membedakan huruf besar dan huruf kecil (memiliki nilai yang berbeda).
# Contoh statement yang benar
luas = 15*3
print(luas)

# Contoh statement yang salah
#luas = 15*3
#Print(luas)
#PRINT(luas)

45

In [8]:
# 8. Untuk komentar di awali dengan tanda "#" yang artinya tidak diproses sebagai statement code.
panjang = 15
lebar = 3
luas = (panjang*lebar)
print(luas)

45

3. Python as Calculator (Numbers), Assignment, Comparison, Boolean, and Logic Operator

In [9]:
# Contoh sederhana Boolean
nilai = 80
nilai > 65
nilai < 65

False

a. Python Working in Strings and List

In [10]:
#String pendek
print('pendek')
print("pendek")
print("don't")

#Tanda \ (Menghilangkan pengaruh "")
print("don\'t")
print("\"Siap!\" kata orang itu")

#String panjang
print('''
string
panjang
''')

pendek
pendek
don't
don't
"Siap!" kata orang itu

string
panjang

In [11]:
#Operator +
print("Py" + "thon")
prefiks = "di"
dasar_1 = "terima"
dasar_2 = "tolak"
print(prefiks + dasar_1)
print(prefiks, dasar_2)
print("Py" "thon")

Python
diterima
di tolak
Python

In [12]:
#Tanda \ dan r
#Tanda \ berguna sebagai penginterpretasi karakter spesial sedangkan r membuat string menjadi terbaca sebagai raw strings (apa adanya)
print("ganti baris \n ke bawah")  # \n turun satu baris
#print("C:\user\folder") # error
print(r"C:\user\folder") # berhasil

ganti baris
 ke bawah
C:\user\folder

In [13]:
#Indexed
kata_sambutan = "Hello"
kata_sambutan[0]#	indeks ke 0
#kata_sambutan[:2]#	indeks ke 0 sampai 2 – 1
#kata_sambutan[1:2]#	indeks ke 1 sampai 2 – 1
#kata_sambutan[1:]#	indeks ke 1 sampai terakhir
#kata_sambutan[-1]#	indeks ke 1 dari belakang
#kata_sambutan[-0]#	indeks ke 0
#kata_sambutan[:-3]#	dari indeks ke 0 sampai -3 – 1

'H'

In [14]:
#Metode
kata_sambutan.lower() #huruf kecil
#kata_sambutan.upper() #huruf besar

'hello'

In [15]:
#Fungsi len dan operator in
sambutan = kata_sambutan + ", Pak Febri. Ada yang bisa Elen bantu?"
len(sambutan) #panjang karakter len
#"Elen" in sambutan

43

b. List

In [16]:
#Create list
akurasi = [0.6,0.7, 0.8, 0.9]
kredit = ['macet', 'lancar', 'macet']
feature = [1,2,3,4]
container_1 = list()
container_2 = []
type(container_1) # mengecek tipe

list

In [17]:
#Concatenating (operator +)
akurasi+feature
cacah = [1, 3, 5, 7, 9] + [2, 4, 6, 8]
dua_list = [akurasi, feature]
campur = feature + kredit
isinstance(campur, str)

False

In [18]:
#Indexed
feature[0]
#feature[:3]
#feature[1:]
#dua_list[0][2]

1

In [19]:
#Edited
cacah[1] = 3
cacah[1:4] = [9,9,9]

In [20]:
lakes = ['superior', 'erie', 'huron', 'ontario', 'powell']
len(lakes)

5

In [21]:
numbers = [1, 2, 3, 4, 5]
sum(numbers)
#max(numbers)
#min(numbers)

15

In [22]:
any([1, 1, 0, 0, 1, 0])
all([1, 1, 1, 1])
lakes_sorted_new = sorted(lakes)
lakes_sorted_new

['erie', 'huron', 'ontario', 'powell', 'superior']

In [23]:
cities = ["oslo", "delhi", "washington", "london", "seattle", "paris", "washington"]
cities.count('seattle')
#cities.index('washington')

1

In [24]:
cities.reverse()
cities

['washington', 'paris', 'seattle', 'london', 'washington', 'delhi', 'oslo']

In [25]:
cities.remove("brussels")
cities

ValueError: ignored

In [ ]:
cities.append('brussels')
cities

In [ ]:
cities.sort()
cities

In [ ]:
cities.pop()
cities

In [ ]:
more_cities = ["brussels", "copenhagen"]
cities.extend(more_cities)
cities