<a href="https://colab.research.google.com/github/deltania/Orbit_Academy/blob/main/Motor_Training.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!wget -O data.csv https://raw.githubusercontent.com/alifrzky123/belajar-orbit/17e51c35abc7bc52397430aea2f316856174755c/belajar_dataset/konsumen.csv

--2021-12-08 07:54:30--  https://raw.githubusercontent.com/alifrzky123/belajar-orbit/17e51c35abc7bc52397430aea2f316856174755c/belajar_dataset/konsumen.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5321884 (5.1M) [text/plain]
Saving to: ‘data.csv’

data.csv            100%[===================>]   5.08M  --.-KB/s    in 0.09s

2021-12-08 07:54:31 (55.3 MB/s) - ‘data.csv’ saved [5321884/5321884]

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('data.csv', delimiter = ';')
df.head()

   SALES DATE   TYPE MOTOR  ... KETERANGAN KEWARGANEGARAAN
0  08/08/2019  REVO FIT FI  ...        NaN             WNI
1  16/10/2019  REVO FIT FI  ...        NaN             WNI
2  07/10/2019  REVO FIT FI  ...        NaN             WNI
3  09/09/2019  REVO FIT FI  ...      SOPAN             WNI
4  07/10/2019  REVO FIT FI  ...        NaN             WNI

[5 rows x 27 columns]

In [4]:
x = df.drop(columns=['TYPE MOTOR','COLOR', 'KODE CUSTOMER', 'JENIS KELAMIN',
       'TANGGAL LAHIR', 'KECAMATAN SURAT', 'KOTA SURAT', 'PROPINSI',
       'STATUS RUMAH', 'JENIS PENJUALAN STNK', 'JENIS PENJUALAN SSU',
       'BESAR DP', 'BESAR CICILAN', 'LAMA CICILAN', 'AGAMA', 'PEKERJAAN',
       'PENGELUARAN', 'PENDIDIKAN', 'KEBERSEDIAAN DIHUBUNGI',
       'MERK MOTOR SBLMNYA', 'TYPE MOTOR SBLMNYA', 'SMH DIGUNAKAN UNTUK',
       'YG MENGGUNAKAN SMH', 'HOBI', 'KETERANGAN', 'KEWARGANEGARAAN'])
y = df.drop(columns=['SALES DATE','COLOR' ,'KODE CUSTOMER', 'JENIS KELAMIN',
       'TANGGAL LAHIR', 'KECAMATAN SURAT', 'KOTA SURAT', 'PROPINSI',
       'STATUS RUMAH', 'JENIS PENJUALAN STNK', 'JENIS PENJUALAN SSU',
       'BESAR DP', 'BESAR CICILAN', 'LAMA CICILAN', 'AGAMA', 'PEKERJAAN',
       'PENGELUARAN', 'PENDIDIKAN', 'KEBERSEDIAAN DIHUBUNGI',
       'MERK MOTOR SBLMNYA', 'TYPE MOTOR SBLMNYA', 'SMH DIGUNAKAN UNTUK',
       'YG MENGGUNAKAN SMH', 'HOBI', 'KETERANGAN', 'KEWARGANEGARAAN'])

In [5]:
x

       SALES DATE
0      08/08/2019
1      16/10/2019
2      07/10/2019
3      09/09/2019
4      07/10/2019
...           ...
18611  10/04/2019
18612  02/08/2019
18613  29/07/2019
18614  15/03/2019
18615  10/04/2019

[18616 rows x 1 columns]

In [6]:
y

           TYPE MOTOR
0         REVO FIT FI
1         REVO FIT FI
2         REVO FIT FI
3         REVO FIT FI
4         REVO FIT FI
...               ...
18611   CBR 250RR STD
18612   CBR 250RR ABS
18613   CBR 250RR ABS
18614  SUPER CUB C125
18615  SUPER CUB C125

[18616 rows x 1 columns]

In [7]:
y.isna().sum()

TYPE MOTOR    0
dtype: int64

In [8]:
list_1=list(y.columns)
list_1

['TYPE MOTOR']

In [9]:
list_cate=[]
for i in list_1:
    if df[i].dtype=='object':
        list_cate.append(i)

In [10]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [11]:
for i in list_cate:
    df[i]=le.fit_transform(df[i])

In [12]:
df

       SALES DATE  TYPE MOTOR  ... KETERANGAN KEWARGANEGARAAN
0      08/08/2019          30  ...        NaN             WNI
1      16/10/2019          30  ...        NaN             WNI
2      07/10/2019          30  ...        NaN             WNI
3      09/09/2019          30  ...      SOPAN             WNI
4      07/10/2019          30  ...        NaN             WNI
...           ...         ...  ...        ...             ...
18611  10/04/2019          15  ...       BAIK             WNI
18612  02/08/2019          14  ...        NaN             WNI
18613  29/07/2019          14  ...        NaN             WNI
18614  15/03/2019          31  ...        NaN             WNI
18615  10/04/2019          31  ...        NaN             WNI

[18616 rows x 27 columns]